.section.create{
    display: block;
    color: var(--primary-color);

    .form{
        margin-top: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 2em;

            li{
                display: flex;
                flex-direction: column;
                gap: 0.5em;


                input{
                    width: 40vw;
                    padding: 0.5em;
                }

                textarea{
                    padding: 0.5em;
                    height: 20vh;

                }

                .description{
                    height: 10vh;
                }
            }
        }

        button{
            padding: 0.5em;
            margin-top: 0.5em;
            font-size: 1em;
            font-weight: bold;
            width: 10vw;
            cursor: pointer;
            color: var(--background-color);
            background-color: var(--primary-color);
            border-radius: 5px;
        };
    }
}